*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #eef2ff, #f8fafc);
    color: #1f2937;
}

.container{
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
}

h1{
    text-align: center;

    margin-bottom: 30px;

    font-size: 42px;

    color: #2563eb;

    letter-spacing: 1px;
}


.converter-box{
    background-color: white;

    padding: 30px;

    border-radius: 12px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.08);

    transition: 0.3s;
}

.converter-box:hover{
    transform: translateY(-3px);
}

label{
    display: block;

    margin-bottom: 8px;

    font-weight: 500;
}

select,
input{
    width: 100%;

    padding: 12px;

    margin-bottom: 20px;

    border: 1px solid #d1d5db;

    border-radius: 8px;

    font-size: 15px;
}

#convert-btn{
    width: 100%;

    padding: 14px;

    margin-top: 5px;

    border: none;

    border-radius: 8px;

    background-color: #2563eb;

    color: white;

    font-size: 16px;

    font-weight: 500;

    cursor: pointer;

    transition: 0.3s;
}

#convert-btn:hover{
    background-color: #1d4ed8;
}

.unit-row{
    display: flex;

    gap: 20px;
}

.unit-box{
    width: 100%;
}

.result-box{
    background-color: #eff6ff;

    padding: 18px;

    border-radius: 10px;

    margin-top: 10px;
}

.result-heading{
    text-align: center;

    margin-top: 20px;

    margin-bottom: 12px;

    font-size: 24px;

    color: #1f2937;
}

.result-box p{
    text-align: center;

    font-size: 28px;

    font-weight: bold;

    color: #2563eb;
}



.history-box{
    margin-top: 30px;

    background-color: white;

    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.08);

    transition: 0.3s;
}

.history-box:hover{
    transform: translateY(-3px);
}

.history-box h2{
    margin-bottom: 15px;

    font-size: 24px;
}

.history-box p{
    color: #6b7280;
}

#history-list{
    list-style: none;

    margin-top: 15px;
}

#history-list li{
    background-color: #f3f4f6;

    padding: 12px;

    border-radius: 8px;

    margin-bottom: 10px;

    font-size: 15px;
}

#clear-history{
    width: 100%;

    margin-top: 15px;

    padding: 12px;

    border: none;

    border-radius: 8px;

    background-color: #2563eb;

    color: white;

    font-size: 15px;

    cursor: pointer;

    transition: 0.3s;
}

#clear-history:hover{
    background-color: #1d4ed8;
}


@media(max-width: 600px){

    .unit-row{
        flex-direction: column;
    }

    .converter-box,
    .history-box{
        padding: 20px;
    }

}